{
  "compact": true,
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    "stage-3",
    "es2017-node7"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": ["transform-runtime", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]],
    "ignore": []

}
